@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}
:root{
  --primaryColor: #0C0032;
  --primaryColorLight: rgb(55, 19, 163);
  --secondaryColor: #DB2B39;
  --textColor: #eee;
  --highlighter: #e3e4e6;
}

.navbar{
  background-color: var(--primaryColor);
  color: var(--textColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.navbar h1{
  padding: 20px;
}
.links a{
  margin: 0 2rem;
  text-decoration: none;
  color: var(--textColor);
  font-size: 1.2rem;
}
.links a:hover{
  color: var(--secondaryColor);
}

.nav-btn{
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  padding: 20px ;
  visibility: hidden;
  cursor: pointer;
  opacity: 0;
  font-size: 1.8rem;
}

.center-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.center-section h4{
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}
.center-section img{
  height: auto;
  max-width: 40%;
  animation: float 2s ease-in-out infinite alternate-reverse ;
}

@keyframes float{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(20px);
  }
}

.login-btn{
  background-color: var(--primaryColor);
  border-radius: 2px;
  border: solid;
  height: 40px;
  width: 70px;
  padding: 5px;
  text-align: center;
  border-radius: 7px;
}
.login-btn:hover{
  cursor: pointer;
  transition: .5s;
  transform: translateY(-2px);
}

.login-btn a{
  text-decoration: none;
  color: var(--textColor);
  padding: 10px;
  font-size: 1rem;
}

.text-box{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 60px auto;
  background-color: var(--highlighter);
  border-radius: 15px;
  padding: 30px;
}
.text-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

.text-content h3{
  font-size: 45px;
}

.contact{
  text-align: center;
}

.contact a{
  text-decoration: none;
}
@media screen and (max-width : 1024px){
  .nav-btn{
    visibility: visible;
    opacity: 1;
  }
  .links{
    background-color: var(--primaryColor);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: column;
    transition: 1s;
    transform: translateY(-100vh);
  }

  .responsive-navbar{
    transform: none;
  }

  .nav-close-btn{
    position: absolute;
    top: 0;
    right:0;
  }

  .text-box{
    flex-direction: column;
  }
}